<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/back/|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <!-- Invalid Stylesheet. This makes stuff look pretty. Remove it if you want the CSS completely valid -->
    <!-- Reset Stylesheet -->
    <link rel="stylesheet" href="resources/css/reset.css" type="text/css"
          media="screen" />
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="resources/css/style.css" type="text/css"
          media="screen" />
    <link rel="stylesheet" href="resources/css/invalid.css" type="text/css"
          media="screen" />

    <!--                       Javascripts                       -->
    <!-- jQuery -->
    <script type="text/javascript"
            src="resources/scripts/jquery-1.8.3.min.js"></script>
    <!-- jQuery Configuration
    <script type="text/javascript"
            src="resources/scripts/simpla.jquery.configuration.js"></script>-->

    <!-- 弹出框插件的依赖 -->
    <link rel="stylesheet" href="//apps.bdimg.com/libs/jqueryui/1.10.4/css/jquery-ui.min.css">
    <script type="text/javascript"
            src="resources/widget/dialog/jquery-ui-1.9.2.custom.min.js"></script>

    <!-- 引入webuploader上传控件 -->
    <link rel="stylesheet" href="resources/widget/webuploader/webuploader.css">
    <script type="text/javascript"
            src="resources/widget/webuploader/webuploader.min.js"></script>

    <script>
        /**
         * 页面加载好后初始化
         */
        $(function(){
            // 初始化Web Uploader
            var uploader = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: 'resources/widget/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: 'goodsManager/uploader',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker1'
            });

            //绑定一个上传成功的回调事件
            uploader.on('uploadSuccess', function(file, response){
                //通过文件名称，进行图片的回显示
                var filename = response.filename;

                //设置image显示的图片
                $("#img_fengmian").attr("src", "goodsManager/showImg?filename=" + filename);

                //設置封面的路徑到隱藏域
                $("#hidden_fengmian").val(filename);

            });
        });


        $(function(){
            // 初始化Web Uploader
            var uploader2 = WebUploader.create({
                // 选完文件后，是否自动上传。
                auto: true,
                // swf文件路径
                swf: 'resources/widget/webuploader/Uploader.swf',
                // 文件接收服务端。
                server: 'goodsManager/uploader',
                // 选择文件的按钮。可选。
                // 内部根据当前运行是创建，可能是input元素，也可能是flash.
                pick: '#filePicker2'
            });

            //绑定一个上传成功的回调事件
            uploader2.on('uploadSuccess', function(file, response){
                //通过文件名称，进行图片的回显示
                var filename = response.filename;

                var html = "<img style='width: 100px; height: 90px; margin: 5px' src='goodsManager/showImg?filename=" + filename + "'/>";
                html += "<input type='hidden' name='otherImg' value='" + filename + "'/>";

                $("#img_other").append(html);
            });
        });

        /**
         * 弹出添加商品的弹出框
         */
        function dialog_addgoods(){
            //弹出隐藏的弹出框
            $("#goodsadd_div").dialog({
                title: "添加商品",
                width: 800,
                height: 700,
                modal: true
            });
        }
    </script>

</head>
<body>
<div id="main-content">
    <div class="content-box">
        <!-- End .content-box-header -->
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab1">
                <table>
                    <thead>
                    <tr>
                        <th><input class="check-all" type="checkbox" /></th>
                        <th>编号</th>
                        <th>商品名称</th>
                        <th>图片(封面)</th>
                        <th>商品价格</th>
                        <th>库存</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr th:each="goods : ${goodsList}">
                        <td><input type="checkbox" /></td>
                        <td th:text="${goods.id}">Lorem ipsum dolor</td>
                        <td th:text="${goods.subject}">Lorem ipsum dolor</td>
                        <td th:each="image : ${goods.goodsImages}" th:if="${image.isfengmian == 1}">
                            <img style="width: 100px; height: 90px" th:src="|goodsManager\\showImg?filename=${image.url}|"/>
                        </td>
                        <td th:text="${#numbers.formatCurrency(goods.price.doubleValue())}">价格</td>
                        <td th:text="${goods.save}">库存</td>
                        <td th:text="${#dates.format(goods.createTime, 'yyyy-MM-dd HH:mm:ss')}">库存</td>
                        <td>
                            <!-- Icons --> <a href="#" title="Edit"><img
                                src="resources/images/icons/pencil.png" alt="Edit" /></a> <a
                                href="#" title="Delete"><img
                                src="resources/images/icons/cross.png" alt="Delete" /></a> <a
                                href="#" title="Edit Meta"><img
                                src="resources/images/icons/hammer_screwdriver.png"
                                alt="Edit Meta" /></a>
                        </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="bulk-actions align-left">
                                <a class="mybutton" onclick="dialog_addgoods();" >添加商品</a>
                            </div>
                            <div class="pagination">
                                <a href="#" title="First Page">&laquo; First</a><a href="#"
                                                                                   title="Previous Page">&laquo; Previous</a> <a href="#"
                                                                                                                                 class="number" title="1">1</a> <a href="#" class="number"
                                                                                                                                                                   title="2">2</a> <a href="#" class="number current" title="3">3</a>
                                <a href="#" class="number" title="4">4</a> <a href="#"
                                                                              title="Next Page">Next &raquo;</a><a href="#"
                                                                                                                   title="Last Page">Last &raquo;</a>
                            </div> <!-- End .pagination -->
                            <div class="clear"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!-- End .content-box-content -->
    </div>
</div>
<!-- End #main-content -->

<!-- 弹出框的内容，默认隐藏的 -->
<div id="goodsadd_div" style="display: none;">
    <div class="content-box">
        <div class="content-box-content">
            <div class="tab-content default-tab" id="tab2">
                <!-- form表单 提交商品信息 -->
                <form action="goodsManager/insert" method="post">
                    <fieldset>
                        <!-- Set class to "column-left" or "column-right" on fieldsets to divide the form into columns -->
                        <p>
                            <label>商品标题</label> <input
                                class="text-input medium-input" type="text" id="subject"
                                name="subject" />
                        </p>
                        <p>
                            <label>上传封面</label>
                            <img id="img_fengmian" style="width: 100px; height: 90px"/>
                            <input id="hidden_fengmian" name="fengmian" type="hidden" value=""/>
                            <div id="filePicker1">上传封面</div>
                        </p>
                        <p>
                            <label>上传其他图片</label>
                            <!-- 存放其他圖片的div -->
                            <div id="img_other" style="width: 100%; height: 200px; border: black solid 1px"></div>
                            <div id="filePicker2" style="margin-top: 10px">上传其他图片</div>
                        </p>
                        <p>
                            <label>价格</label> <input
                                class="text-input small-input" type="text" id="price"
                                name="price" />
                        </p>
                        <p>
                            <label>库存</label> <input
                                class="text-input small-input" type="text" id="save"
                                name="save" />
                        </p>
                        <p>
                            <label>商品详情介绍</label>
                            <textarea class="text-input textarea wysiwyg" id="info"
                                      name="info" cols="79" rows="15"></textarea>
                        </p>
                        <p>
                            <input class="mybutton" type="submit" value="Submit" />
                        </p>
                    </fieldset>
                    <div class="clear"></div>
                    <!-- End .clear -->
                </form>
            </div>
            <!-- End #tab2 -->
        </div>
        <!-- End .content-box-content -->
    </div>
</div>

</body>
</html>