<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="|${#request.getContextPath()}/resources/|"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="js/jquery.js" ></script>
    <script>
        /**
         * 找回密码
         */
        function findPassword(btn){

            //发送找回密码的邮件
            var username = $("#username").val();

            if(username != null && username.trim() != ""){

                //预处理按钮
                btnHandler(btn);

                //ajax发送到后台找到邮箱
                $.ajax({
                    url: "[[${#request.getContextPath()}]]/sso/findPassword",
                    type: "POST",
                    data: {"username": username},
                    success: function(data){
                        if(data.code == "0000"){
                            //发送成功
                            $("#msg").html("<font color='green'>邮件发送成功，已经发送到你的注册邮箱" + data.data.mailInfo + "，<a href='" + data.data.emailUrl + "'>去邮箱</a></font>");

                        } else {
                            //发送失败打印错误信息
                            $("#msg").html("<font color='red'>" + data.msg + "</font>");
                            time = 10;
                            $(btn).removeAttr("disabled");
                            $(btn).html("发送邮件");
                            clearTimeout(timeout);
                        }
                    },
                    dataType: "json"
                });

            } else {
                alert("用户名不能为空！");
            }
        }

        //处理按钮
        var time = 10;
        var timeout;
        function btnHandler(btn){

            if(time == 0){
                //开放按钮
                time = 10;
                $(btn).removeAttr("disabled");
                $(btn).html("发送邮件");
                return;
            }

            //禁用发送邮件的按钮
            $(btn).attr("disabled", "disabled");
            //修改按钮内容
            $(btn).html("邮件已经发送，等待(" + time + ")后重试！");

            //开始倒计时
            timeout = setTimeout(function(){
                time--;
                btnHandler(btn);
            }, 1000);
        }
    </script>
</head>
<body>
    <h1>忘记密码？</h1>

    用户名：<input id="username" name="username"/><span id="msg"></span><br/>
    <button type="button" onclick="findPassword(this);">发送邮件</button>
</body>
</html>